#infoLabel {
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-color-label-visible: white;
    -fx-font-size: 30px;
}

.body {
    -fx-font-size: 15px;
    -fx-background-color: lightgrey;
}

.confElement {
    -fx-padding: 3px;
}

.labelConf {
    -fx-label-padding: 10;
}

.spinnerConf {
    -fx-max-width: 80;
    -fx-alignment: right;
}

.comboElement {
    -fx-alignment: right;
}
